@import "src/app/styles/variables";

.preview {
  display: flex;

  @media (max-width: $md3) {
    flex-direction: column;
  }

  &__card {
    width: 761px;

    @media (max-width: $md3) {
      max-width: 100%;
    }
  }


  // .preview__photo
  .avatar {
    margin-top: 32px;
    width: 519px;
    height: 383px;

    & img {
      max-width: 100%;
      width: calc(100% + 15px);
    }
  }
}