@import "src/app/styles/variables";

.slider-dot {
  width: 16px;
  height: 4px;
  background: $purple;
  opacity: .3;
  transition: $transition;
  // .'slider-dot--active':
  &--active {
    width: 32px;
    opacity: 1;
  }
}

